{% trans_default_domain 'FOSUserBundle' %}
<div class="container" style="padding:10px">
         <div class="row">
            <div class="col-xs-6">
 {% image '@GsmLotIndexBundle/Resources/public/images/register.jpg' %}
    <img src="{{ asset_url }}" alt="gsmlot phones exchange" class="img-responsive" />
{% endimage %} 
            </div>
            
            <div class="col-xs-3" style="text-align: justify">

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">

<h2> {{ 'resetting.reset.submit'|trans }} </h2>

    <div class="form-group" >
        <label for="control-label" class="inputDefault">{{ 'form.new_password'|trans }}</label>
        {{ form_widget(form.plainPassword.first,{ 'attr' :{ 'class' : 'form-control'} }) }}
    </div>

    <div class="form-group" >
        <label for="control-label" class="inputDefault">{{ 'form.new_password_confirmation'|trans }}</label>
        {{ form_widget(form.plainPassword.second,{ 'attr' :{ 'class' : 'form-control'} }) }}
    </div>


{{ form_widget(form._token) }}
    <div>
        <input type="submit"  class="btn btn-primary" id="_submit" name="_submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
		  </div>

             <div class="col-xs-3"></div>
		</div>
</div>