{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}

    <div class="container" style="padding:10px;">
        
 <div class="row">
     <div class="col-xs-6">             
  <div class="panel panel-default">
  <div class="panel-heading">Contact informations</div>
  <div class="panel-body">

    
<b>Address:</b>  6175 beaver crossing dr cumming, GA 30040
<br/><br/>
<b>Phone numbers: </b> (1) 404-396-2872
<br/><br/>
<b>Email: </b>  info@gsmlot.com
<br/><br/>
<b>We are open:</b>   Monday – Friday 10 AM – 8 PM
  </div>
</div>    



    <div class="row">
      <div class="col-xs-12">     
      <center>      
 {% image '@GsmLotIndexBundle/Resources/public/images/contact.jpg' %}
    <img src="{{ asset_url }}" alt="gsmlot phones exchange" style="border-radius:7px;" class="img-responsive" />
{% endimage %}
	</center> 
	</div>
   </div>

            </div>
            
            <div class="col-xs-5" style="text-align: justify">
            <h2>Contact us</h2>
    <blockquote>
  
{{ form_start(form) }}
<div class="form-group" >
			<label for="control-label" class="inputDefault">First Name</label>
			{{ form_widget(form.firstName,{ 'attr' :{ 'class' : 'form-control'} }) }}
</div>

<div class="form-group" >
			<label for="control-label" class="inputDefault">Last Name</label>
			{{ form_widget(form.lastName,{ 'attr' :{ 'class' : 'form-control'} }) }}
</div>
<div class="form-group" >
			<label for="control-label" class="inputDefault">Email</label>
			{{ form_widget(form.email,{ 'attr' :{ 'class' : 'form-control'} }) }}
</div>
<div class="form-group" >
			<label for="control-label" class="inputDefault">Subjet</label>
			{{ form_widget(form.objectMail,{ 'attr' :{ 'class' : 'form-control'} }) }}
</div>

<div class="form-group">
      <label for="textArea" class="inputDefault">Message</label>

{{ form_widget(form.messageMail,{ 'attr' :{ 'rows' : '4'} }) }}    
 </div>
 {{ form_row(form._token) }}
    <div class="row">
    <div class="col-lg-2 col-lg-offset-3">
	 <button type="submit" class="btn btn-primary"> Send Message</button>
</div>


</blockquote>
        
            </div>
            
     
     <div class="col-xs-1"></div>
     
     </div>
     
     </div>
     
{% endblock %}