{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}

 <div class="row">
     <div class="col-lg-7">             
  <div class="panel panel-default">
  <div class="panel-heading">Nos Coordonnées</div>
  <div class="panel-body">
    
<b>Address:</b>  6175 beaver crossing dr cumming, GA 30040
<br/><br/>
<b>Téléphones: </b> (1) 404-396-2872
<br/><br/>
<b>Email: </b>  info@gsmlot.com
<br/><br/>
<b>Nous sommes ouvert:</b>   Lundi – Vendredi 10 AM – 8 PM
  </div>
</div>    
           
      <center>      
 {% image '@GsmLotIndexBundle/Resources/public/images/login.jpg' %}
    <img src="{{ asset_url }}" alt="gsmlot phones exchange" style="border-radius:7px;width:550px" />
{% endimage %}
	</center> 


      </div>
      <div class="col-lg-4">
    <blockquote>
  
{{ form_start(form) }}
<div class="form-group" >
			<label for="control-label" class="inputDefault">Prénom</label>
			{{ form_widget(form.firstName,{ 'attr' :{ 'class' : 'form-control'} }) }}
</div>

<div class="form-group" >
			<label for="control-label" class="inputDefault">Nom</label>
			{{ form_widget(form.lastName,{ 'attr' :{ 'class' : 'form-control'} }) }}
</div>
<div class="form-group" >
			<label for="control-label" class="inputDefault">Email</label>
			{{ form_widget(form.email,{ 'attr' :{ 'class' : 'form-control'} }) }}
</div>
<div class="form-group" >
			<label for="control-label" class="inputDefault">Sujet</label>
			{{ form_widget(form.objectMail,{ 'attr' :{ 'class' : 'form-control'} }) }}
</div>

<div class="form-group">
      <label for="textArea" class="inputDefault">Votre Message</label>

{{ form_widget(form.messageMail,{ 'attr' :{ 'rows' : '4'} }) }}    
 </div>
 {{ form_row(form._token) }}
    <div class="row">
    <div class="col-lg-2 col-lg-offset-3">
	 <button type="submit" class="btn btn-primary"> Envoyer Message</button>
</div>


</blockquote>
        
            </div>
            
     
     <div class="col-lg-1"></div>
     
     </div>
     
     </div>
     
{% endblock %}