<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}GsmLot Website{% endblock %}</title>
        {% block stylesheet %}
		{% stylesheets 
		'bundles/gsmlotindex/css/bootstrap.css'
		'bundles/gsmlotindex/css/font-awesome/css/font-awesome.css'
		'bundles/gsmlotindex/css/custom.min.css'
		'bundles/gsmlotindex/css/languages.css' 
		filter ="cssrewrite,yui_css"
	 output="main.css"		%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% endblock %}
	
    </head>
    <body>
    {% set local = app.request.get('_locale') %}
   <!--  navbar logo-->
            <div class="navbar navbar-default navbar-fixed-top">
      <div style="padding-right:25px">
        <div class="navbar-header">
          <a href="{{ path('index_index') }}" class="">
  {% image '@GsmLotIndexBundle/Resources/public/images/logo.jpg' %}
    <img src="{{ asset_url }}" alt="gsmlot logo" style="width:140px;padding:3px 3px 3px 3px;" />
{% endimage %} 
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
   <!--  end navbar logo-->
   
       <!--  debut navbar menus-->
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          <li><a href="{{ path('index_index') }}">{{ 'index.menu.home'|trans }}</a></li>
            <li>
              <a href="{{ path('offer_mobile') }}">{{'index.menu.phones'|trans }}</a>
            </li>
            <li>
              <a href="">{{ 'index.menu.used'|trans }}</a>
            </li>
            <li>
              <a href="">{{ 'index.menu.econsumer'|trans }}</a>
            </li>
            <li>
              <a href="{{ path('index_about') }}">{{ 'index.menu.aboutus'|trans }}</a>
            </li>
           
            <li>
              <a href="{{ path('index_contact') }}">{{ 'index.menu.contactus'|trans  }} </a>
            </li>
          </ul>

      <ul class="nav navbar-nav navbar-right">
         
         
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                           <li class="dropdown">
              <a class="dropdown-toggle btn-success" data-toggle="dropdown" href="#" id="themes">{{ 'index.menu.myspace'|trans }}<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="my space">
          
                <li><a href="{{ path('offer_create') }}">{{ 'index.menu.myspaceaddoffer'|trans }}</a></li>
                <li><a href="{{ path('offer_list') }}">{{ 'index.menu.myspaceoffers'|trans }} <span class="badge">
                {% if app.user.trader.offers is defined%}{{ app.user.trader.offers|length }} {% else %} 0 {% endif %}</span></a></li>
                <li><a href="">{{ 'index.menu.myspacerequests'|trans }}</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'index.menu.myspaceprofile'|trans }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'index.menu.myspacelogout'|trans }}</a></li>
    
              </ul>
           				  </li>
               
            {% else %}
             <li>
          
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-info" style="line-height:9px;margin-top:3px;">{{ 'index.menu.login'|trans }}</a>
             </li>
            {% endif %}
  			<li><div class="col-sm-1"></div></li>         
           <li>
         <div class="btn-group" style="margin-top:3px">
  			<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" 
  			class="btn btn-primary"><span class="lang-sm lang-lbl" lang="{{ local }}"></span></a>
  	    	<a aria-expanded="true" href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  			<ul class="dropdown-menu">
  			{% set lang = {'anglais':'en','francais':'fr','espagnol': 'es'} %}
  			{% for l in lang %}
  			{% if l != local %}
  			{% set params =  app.request.attributes.get('_route_params')|merge({'_locale':(l)}) %}
  			   <li><a href="{{ path(app.request.attributes.get('_route'), 
       							params) }}">
       							 <span class="lang-sm lang-lbl" lang="{{ l }}"></span></a></li>
  			{% endif %}
  			{% endfor %}

  			</ul>
		</div>
         </li> 
       </ul>
        </div>
      </div>
    </div> 
    <!--  end block menubar-->
    
  <!--  start block timezones-->  
        <div class="row" style="margin: 3px 2px 8px 3px;border-bottom:1px solid #d9d9d9;height: 30px">
            <div class="col-lg-6">
            </div>
          
          
          <div class="col-lg-6" style="padding-left:40px">
<span class="label label-success">NYC  {{ "now"|date("H:i", "America/New_York") }}</span>    
<span class="label label-default">Paris  {{ "now"|date("H:i", "Europe/Paris") }}</span>
<span class="label label-primary">Hong Kong {{ "now"|date("H:i", "Asia/Hong_Kong") }}</span>
<span class="label label-warning"> Casablanca  {{ "now"|date("H:i", "Africa/Casablanca") }}</span>
<span class="label label-danger">Moscow  {{ "now"|date("H:i", "Europe/Moscow") }}</span>
<span class="label label-info">Istanbul  {{ "now"|date("H:i", "Asia/Istanbul") }}</span>
        </div>
        
        </div>
        
<!--  end block timezones-->
{{ wo_render_breadcrumbs() }}
<div class="container"  style="padding-top:30px;padding-bottom:30px"  >
		<div class="row">
		   <div class="col-md-2"></div>
         <div class="col-md-8">
         
				{% for flashMessage in app.session.flashbag.get('notice') %}
				<div class="alert alert-info">
					<center>
						<strong>{{ 'offer.information'|trans }}</strong>
						{{ flashMessage|trans }}
						
					</center>
				</div>
				{% endfor %} 
				
				{% for flashMessage in
				app.session.flashbag.get('error') %}
				<div class="alert alert-danger">
					<center>
						<strong>{{ flashMessage }}</strong>
					</center>
				</div>
				{% endfor %}
			  {% for flashMessage in app.session.flashbag.get('success') %}
				<div class="alert alert-success">
					<center>
						<strong>{{ 'index.contact.success'|trans }} :</strong>
						{{ flashMessage|trans  }}
						
					</center>
				</div>
				{% endfor %} 
	      
	     </div>
	        
	     <div class="col-md-2">
	      </div>
        </div>

   {% block contenu %}
        
        	
   {% endblock %}       

 </div>
        
        {% block footer %}
            <div class="panel-info">
  <div class="panel-heading" style="border-color:black;background-color:lightslategrey;border-radius:0px;">
    <h3 class="panel-title" style="text-align: center;">  &copy; 2015 <a title="Gsmlot website" href="" target="_blank">GsmLot</a>. All Rights Reserved. </h3>
  </div>
  <div class="panel-body" style="background:#2e2e2e none repeat scroll 0 0;color:white">
<div class="row">
                <div class="col-lg-4">
                  
                     <ul>
                      <li>  <a href="index.php" style="margin-right:8px:;color:white">Homepage</a></li>
                       
               
                      <li> <a href="contact-us.php"  style="margin-right:8px;color:white">Abouts us</a></li>
                  
                       <li>   <a href="contact-us.php"  style="margin-right:8px;color:white">Contact us</a> </li>
                     
                     <li>   <a href="qualite.php" style="color:white">Our conditions</a> </li>
                                              
                    </ul>
                </div>
                <div class="col-lg-4">
       Open : Monday – Friday 10 AM – 8 PM
       <br/>  <br/>  
       6175 beaver crossing dr cumming, GA 30040
     
                </div>
                <div class="col-lg-4">    
            <ul>
               <li>Phone: +14043962872</li>
              
               <li>Email: contact@gsmlot.com</li>
               
               <li>Skype: gsmlot.com</li>
            </ul>
                 
                </div>
            </div>
  </div>
</div>
       
    </footer>
    {% endblock %}
 
        {% block javascript %}
    {% javascripts '@GsmLotIndexBundle/Resources/public/js/jquery-1.10.2.min.js'
					'@GsmLotIndexBundle/Resources/public/js/boostrap.min.js'
					'@GsmLotIndexBundle/Resources/public/js/custom.min.js'
		output='main.js' filter="yui_js"
    %}
        <script src="{{ asset_url }}"></script>
        
    {% endjavascripts %}
            <script>
        $(function(){
        	  function stripTrailingSlash(str) {
        	    if(str.substr(-1) == '/') {
        	      return str.substr(0, str.length - 1);
        	    }
        	    return str;
        	  }

        	  var url = window.location.pathname;  
        	  var activePage = stripTrailingSlash(url);

        	  $('.nav li a').each(function(){  
        	    var currentPage = stripTrailingSlash($(this).attr('href'));

        	    if (activePage == currentPage) {
        	      $(this).parent().addClass('active'); 
        	    } 
        	  });
        	});
       </script>
       <script type="text/javascript">
		if($('.alert-info').length > 0){
			$('.alert-info').fadeOut(10000)
		}
	</script>
		{% endblock %}
    </body>
</html>
