<div class="row" style="min-height:90px;background:linear-gradient(#04519b, #033c73 40%, #02325f 60%);color:white;padding:10px;">
            <div class="col-md-4">
                <a title="GsmLot Trading Platform" href="{{ path ("index_index") }}"
                               target="_blank">GsmLot</a>
                &copy; 2015  All Rights Reserved
                <address>
                    <abbr title="Phone">Phone</abbr>: (001) 4043962872<br/>
                    <abbr title="Skype">Skype</abbr>: www.gsmlot.com<br/>
                    <abbr title="Email">Email</abbr>: <a href="mailto:admin@gsmlot.com">admin@gsmlot.com</a>
                </address>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <ul>
                    <li><a href="{{ path ("index_index") }}" class="footer-element">Homepage</a></li>
                    <li><a href="{{ path ("index_about") }}" class="footer-element">Abouts us</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a href="{{ path ("index_contact") }}" class="footer-element">Contact us</a></li>
                    <li><a href="{{ path ("index_contact") }}" class="footer-element">Our conditions</a></li>
                </ul>
            </div>
</div>
