<div style="width:100%;min-height:120px;float:left;
background:linear-gradient(#04519b, #033c73 40%, #02325f 60%);color:white;padding:15px;" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                &copy; 2015 <a title="GsmLot Trading Platform" href="{{ path ("index_index") }}"
                               target="_blank">GsmLot</a>. All Rights Reserved.
            </div>
            <div class="col-md-8">
                <div class="row">
                    <ul class="pull-right">
                        <div class="col-xs-6"><li><a href="{{ path ("index_index") }}" style="color:white"> Homepage</a></li> </div>
                        <div class="col-xs-6"> <li><a href="{{ path ("index_about") }}" style="color:white">Abouts us</a></li></div>
                        <div class="col-xs-6"> <li><a href="{{ path ("index_contact") }}" style="color:white">Contact us</a></li></div>
                        <div class="col-xs-6"> <li><a href="{{ path ("index_contact") }}" style="color:white">Our conditions</a></li></div>

                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">Phone: +14043962872</div>
            <div class="col-md-2"> Skype: gsmlot.com</div>
        </div>
    </div>
</div>