{% trans_default_domain 'FOSUserBundle' %}

<div class="container" style="padding:30px">
         <div class="row">
            <div class="col-xs-5">
 {% image '@GsmLotIndexBundle/Resources/public/images/register.jpg' %}
    <img src="{{ asset_url }}" alt="gsmlot phones exchange" class="img-responsive" />
{% endimage %} 
            </div>
            
                 <div class="col-xs-6" style="text-align: left;font-size:12px">
            <h2>{{'profile.edit.success'|trans }}</h2>
    <blockquote>
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
     </blockquote>
       </div>
     </div>
 </div>
 