{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}
<h3>
{% block titre %}
{{ 'offer.create'|trans }}
{% endblock %}
</h3>
<br/>
<form method="post" action="{% block action %} {{ path('offer_create') }} {% endblock %}">
	<div class="checkbox">
		<div class="row">
			<label for="offerType" class="col-md-2">{{ 'offer.offerType'|trans }}</label>
			{{ form_widget(form.offerType,{ 'attr' :{ 'class' : 'col-md-3'} }) }}
		</div>
	</div>
	<div class="checkbox">
		<div class="row">
			<label for="offerType" class="col-md-2">{{ 'offer.offerState'|trans }}</label>
			{{ form_widget(form.offerState,{ 'attr' :{ 'class' : 'col-md-3'} }) }}
		</div>
	</div>
	<div class="checkbox">
	</div>
	<div class="checkbox">
		<div class="row">
			<label for="device" class="col-md-2">{{ 'offer.norm'|trans }}</label>
			{{ form_widget(form.norm,{ 'attr' :{ 'class' : 'col-md-3'} }) }}
		</div>
	</div>
	<div class="checkbox">
		<div class="row">
			<label for="device" class="col-md-2">{{ 'offer.device'|trans }}</label>
			{{ form_widget(form.model,{ 'attr' :{ 'class' : 'col-md-3'} }) }}
		</div>
	</div>
	<div class="checkbox">
		<div class="row">
			<label for="device" class="col-md-2">{{ 'offer.currency'|trans }}</label>
			{{ form_widget(form.currency,{ 'attr' :{ 'class' : 'col-md-3'} }) }}
		</div>
	</div>
	<div class="checkbox">
		<div class="row">
			<label for="quantity" class="col-md-2">{{ 'offer.quantity'|trans }}</label>
			{{ form_widget(form.quantity,{ 'attr' :{ 'class' : 'col-md-3'} }) }}
		</div>
	</div>
	<div class="checkbox">
		<div class="row">
			<label for="price" class="col-md-2">{{ 'offer.price'|trans }}</label>
			{{ form_widget(form.price,{ 'attr' :{ 'class' : 'col-md-3'} }) }}
		</div>
	</div>
	<div class="checkbox">
		<div class="row">
			<label for="description" class="col-md-2">{{ 'offer.description'|trans }}</label>
			{{ form_widget(form.description,{ 'attr' :{ 'class' : 'col-md-3','rows':'5'} }) }}
		</div>
	</div>
	<div class="checkbox">
		<div class="row">
			<label for="Physical Stock" class="col-md-2">{{ 'offer.physicalStock'|trans }}</label>
			{{ form_widget(form.physicalStock,{ 'attr' :{ 'class' : 'col-md-3'} }) }}
		</div>
	</div>
	{{ form_row(form._token) }}
	<div class="row">
	<div class="col-xs-1"></div>
		<div class="col-xs-1">
			<button type="reset" class="btn btn-primary">{{ 'offer.reset'|trans }}</button>
		</div>
		<div style="width: 20px;"></div>
		<div class="col-xs-1">
			<button type="submit" class="btn btn-primary">{{ 'offer.submit'|trans }}</button>
		</div>
	</div>
</form>
<br/><br/>
{% endblock %}
{% block javascript %}
{{ parent() }}
{% javascripts 
'@GsmLotOfferBundle/Resources/public/js/jquery-ui.js' 
'@PUGXAutocompleterBundle/Resources/public/js/autocompleter-jqueryui.js'  %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<script type="text/javascript">
$('#new_offer_model').autocompleter({url_list: Routing.generate('model_search'), url_get: Routing.generate('model_get')});
</script>
{% endblock %}
{% block stylesheet %}
{{ parent() }}
{% stylesheets 'bundles/gsmlotoffer/css/jquery-ui.css' output="main.css" filter ="cssrewrite" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}