{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}

    <div class="container" style="padding: 10px">
	<div class="row">

		<div class="col-md-6" style="text-align: justify">
<h3>
{% block titre %}
{{ 'offer.create'|trans }}
{% endblock %}
</h3>
<br/>
<form class="form-horizontal" method="post" action="{% block action %} {{ path('offer_create') }} {% endblock %}">
	<fieldset>


	<div class="form-group">
			<label for="offerType" class="col-md-2">{{ 'offer.offerType'|trans }}</label>
		<div class="col-md-7">
	<div class="checkbox">	{{ form_widget(form.offerType,{ 'attr' :{ 'class' : ''} }) }} </div>
			</div>
	</div>

	<div class="form-group">
		<label for="offerType" class="col-md-2">{{ 'offer.offerState'|trans }}</label>
		<div class="col-md-7">
			{{ form_widget(form.offerState,{ 'attr' :{ 'class' : 'form-control'} }) }}
		</div>
	</div>

	<div class="checkbox">
	</div>

	<div class="form-group">
			<label for="device" class="col-md-2">{{ 'offer.norm'|trans }}</label>
		<div class="col-md-7">
			{{ form_widget(form.norm,{ 'attr' :{ 'class' : 'form-control'} }) }}
		</div>
	</div>


	<div class="form-group">
			<label for="device" class="col-md-2">{{ 'offer.device'|trans }}</label>
		<div class="col-md-7">
			{{ form_widget(form.model,{ 'attr' :{ 'class' : 'form-control'} }) }}
		</div>
	</div>
	<div class="form-group">
		<label for="currency" class="col-md-2">{{ 'offer.currency'|trans }}</label>
		<div class="col-md-7">
			{{ form_widget(form.currency,{ 'attr' :{ 'class' : 'form-control'} }) }}
		</div>
	</div>

	<div class="form-group">
			<label for="quantity" class="col-md-2">{{ 'offer.quantity'|trans }}</label>
		<div class="col-md-7">
			{{ form_widget(form.quantity,{ 'attr' :{ 'class' : 'form-control'} }) }}
		</div>
	</div>
	<div class="form-group">
			<label for="price" class="col-md-2">{{ 'offer.price'|trans }}</label>
		<div class="col-md-7">
			{{ form_widget(form.price,{ 'attr' :{ 'class' : 'form-control'} }) }}
		</div>
	</div>
	<div class="form-group">
			<label for="description" class="col-md-2">{{ 'offer.description'|trans }}</label>
		<div class="col-md-7">
			{{ form_widget(form.description,{ 'attr' :{ 'class' : 'form-control','rows':'5'} }) }}
		</div>
	</div>
	<div class="form-group">
		<label for="Physical Stock" class="col-md-2">{{ 'offer.physicalStock'|trans }}</label>
		<div class="col-md-7">
			{{ form_widget(form.physicalStock,{ 'attr' :{ 'class' : 'form-control'} }) }}
		</div>
	</div>
	{{ form_row(form._token) }}

		<div class="form-group">
			<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
			<button type="reset" class="btn btn-primary">{{ 'offer.reset'|trans }}</button>
			</div>
			<div class="col-xs-2 col-xs-offset-2">
			<button type="submit" class="btn btn-primary">{{ 'offer.submit'|trans }}</button>
			</div>
			</div>
	    </div>
		</fieldset>
      </form>
		</div>

        <div class="col-md-4">
            {% image '@GsmLotIndexBundle/Resources/public/images/about.jpg' %}
            <img src="{{ asset_url }}" alt="gsmlot phones exchange" class="img-responsive" />
            {% endimage %}
        </div>

      </div>
	</div>


{% endblock %}
{% block javascript %}
{{ parent() }}
{% javascripts 
'@GsmLotOfferBundle/Resources/public/js/jquery-ui.js' 
'@PUGXAutocompleterBundle/Resources/public/js/autocompleter-jqueryui.js'  %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<script type="text/javascript">
$('#new_offer_model').autocompleter({url_list: Routing.generate('model_search'), url_get: Routing.generate('model_get')});
</script>
{% endblock %}
{% block stylesheet %}
{{ parent() }}
{% stylesheets 'bundles/gsmlotoffer/css/jquery-ui.css' filter ="cssrewrite" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
