{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block contenu %}
{% if not is_granted("ROLE_ADMIN") %}
<div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<center><strong>{{ 'offer.warning'|trans }}</strong> {{ 'offer.notactive'|trans }}</center>
</div>
<h3>{{ 'offer.list.title'|trans }}</h3>
{% else %}
<h3>Unvalide offers</h3>
{% endif %}
<table class="table">
  <tr>
    <th>{{ 'offer.brand'|trans }}</th>
    <th>{{ 'offer.model'|trans }}</th>
    <th>{{ 'offer.norm'|trans }}</th>
    <th>{{ 'offer.quantity'|trans }}</th>
    <th>{{ 'offer.price'|trans }}</th>
    <th>{{ 'offer.description'|trans }}</th>
    <th>{{ 'offer.actions'|trans }}</th>
  </tr>
  {% for offer in pagination %}
  <tr
  {% if not is_granted("ROLE_ADMIN") %} 
  {% if not offer.active %} class="warning"  {% endif %}
  {% else %}
  {% if not offer.enable  %} class="warning" {% endif %}
 
  {% endif %}
  >
    <td>{{ offer.model.brand }}</td>
    <td>{{ offer.model }}</td>
    <td>{{ offer.norm }}</td>
    <td>{{ offer.quantity }}</td>
    <td>{{ offer.price }}</td>
    <td>{{ offer.description|slice(0,20) }}</td>
    <td>
    {% if not is_granted("ROLE_ADMIN") %}
    <a href="{{ path('offer_update',{'offer_id':offer.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
    {% if offer.active %}
    <a href="{{ path('offer_deactive',{'offer_id':offer.id}) }}">
    	<span class="glyphicon glyphicon-remove-circle" title="{{ 'offer.deactivate'|trans }}"></span>
    </a>
    {% else %}
    <a href="{{ path('offer_activate',{'offer_id':offer.id}) }}">
    	<span class="glyphicon glyphicon-ok-circle" title="{{ 'offer.activate'|trans }}"></span>
    </a>
    {% endif %}
    {% else %}
    <a href="{{ path('offer_enable',{ 'offer_id': offer.id}) }}">
    	<span class="glyphicon glyphicon-ok" title="Validate"></span>
    </a>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<div class="row" style="text-align: center">
	<div class="col-sm-12">{{ knp_pagination_render(pagination) }}</div>
</div>
<br/><br/><br/>
{% endblock %}