{% extends "GsmLotIndexBundle:Index:base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block contenu %}
<ul class="breadcrumb">
  <li><a href="{{ path ('fos_user_security_login') }}"> Login</a></li>
  <li class="active">{{  'registration.submit' | trans }}</li>
</ul>

         <div class="row">
            <div class="col-lg-6">
 {% image '@GsmLotIndexBundle/Resources/public/images/login.jpg' %}
    <img src="{{ asset_url }}" alt="gsmlot phones exchange" style="width:500px;" />
{% endimage %} 
            </div>
            
            <div class="col-lg-4" style="text-align: justify">
            <h2>{{'layout.register'|trans }}</h2>
    <blockquote>
    
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
   </blockquote>
   			</div>
   		</div>
    		
{% endblock contenu %}
