{% extends 'GsmLotIndexBundle:Index:base.html.twig' %}
{% block left %}
{% endblock %}
{% block contenu %}
<div class="container">
<div class="row">
    <div class="col-xs-10">
        <div class="row">
            <h2>{{ 'index.titre.offer_gros'|trans }}</h2><br/>
        </div>
        <form method="get" {{ form_enctype(form) }}>
            <div class="row">
                <div class="col-xs-2">
                    <strong>{{ 'offer.brand'|trans }}</strong>
                </div>
                <div class="col-xs-2">
                    <strong>{{ 'offer.model'|trans }}</strong>
                </div>
                <div class="col-xs-2">
                    <strong>{{ 'offer.norm'|trans }}</strong>
                </div>
                <div class="col-xs-2">
                    <strong>{{ 'offer.country'|trans }}</strong>
                </div>
                <div class="col-xs-2">
                    <strong>{{ 'offer.city'|trans }}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">{{ form_widget(form.brand) }}</div>
                <div class="col-xs-2">{{ form_widget(form.model) }}</div>
                <div class="col-xs-2">{{ form_widget(form.norm) }}</div>
                <div class="col-xs-2">{{ form_widget(form.country) }}</div>
                <div class="col-xs-2">{{ form_widget(form.city) }}</div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-filter"></span> Filtrer
                    </button>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </form>
        <hr/>
        <h5>{{ 'offer.view_offers'|trans }} ({{ list_offer|length }})</h5>
        <hr/>
        {% for offer in list_offer %}
            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    ({{ offer.norm.description }}) {{ offer.model.brand }} {{ offer.model }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{ offer.trader.firstName }} {{ offer.trader.lastName }}
                </div>
                <div class="col-xs-4">
                    {{ offer.currency }} {{ offer.price }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                <span class="lang-sm" title="{{ offer.trader.city.country }}"
                      lang="{{ offer.trader.city.country.code }}"></span>
                </div>
                <div class="col-xs-4">
                    {{ offer.quantity }} {{ 'offer.pcs'|trans }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <div class="col-xs-10"></div>
                    <div class="col-xs-1">
                        <a href="#" id="{{ offer.id }}" data-trigger="focus" data-toggle="popover"
                           title="{{ offer.model.brand }} - {{ offer.model }}"
                        >{{ 'offer.details'|trans }}</a>
                    </div>
                </div>
            </div>
            <hr/>
        {% endfor %}
        <div class="row" style="text-align: center">
            <div class="col-sm-12">{{ knp_pagination_render(list_offer) }}</div>
        </div>
    </div>
    <div class="col-xs-3"></div>
    </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% javascripts
    '@GsmLotOfferBundle/Resources/public/js/tooltip.js'
    '@GsmLotOfferBundle/Resources/public/js/popover.js'
    '@GsmLotIndexBundle/Resources/public/js/load_filter_data.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% for offer in list_offer %}
        <script type="text/javascript">
            $('#{{ offer.id }}').popover(
                    {
                        html: true,
                        content:{% include 'GsmLotIndexBundle:Offer:popup.html.twig' with {'offer':offer} %}
                    }
            );
        </script>
    {% endfor %}
{% endblock %}