<h4>{{ offer.model.brand }} - {{ offer.model }} {{ 'offer.at'|trans }} {{ offer.trader.city }}
    - {{ offer.trader.city.country }}</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4"><strong>{{ 'offer.created_on'|trans }} :</strong></div>
                <div class="col-md-8">{{ offer.createdOn|date("d/m/Y H:i:s") }}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>{{ 'offer.created_by'|trans }} :</strong></div>
                <div class="col-md-8"> {{ offer.trader.user.username }}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>{{ 'offer.email'|trans }} :</strong></div>
                <div class="col-md-8">{{ offer.trader.user.email }}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>{{ 'offer.norm'|trans }} : </strong></div>
                <div class="col-md-8">{{ offer.norm.description }}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>{{ 'offer.localisation'|trans }} : </strong></div>
                <div class="col-md-8">{{ offer.trader.city.country }}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>{{ 'offer.description'|trans }}: </strong></div>
                <div class="col-md-8">
                    <p class="text-justify">
                        {{ offer.description }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>{{ 'offer.quantity'|trans }}: </strong></div>
                <div class="col-md-8">{{ offer.quantity }} Pcs</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>{{ 'offer.price'|trans }}: </strong></div>
                <div class="col-md-8">{{ offer.price }} {{ offer.currency }}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>{{ 'offer.physicalStock'|trans }} : </strong></div>
                <div class="col-md-8">
                    {% if offer.physicalStock == 1 %}{{ 'offer.yes'|trans }}
                    {% else %}
                        {{ 'offer.no'|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="map" id="map{{ offer.id }}"></div>
        </div>
    </div>
</div>
